  .box.int_id {
    padding-right: 110px;
  }

  .box.int_pass {
    padding-right: 40px;
  }

  .box.int_name {
    margin-bottom: 100px;
  }

  /* 버튼 */

  .btn_area {
    margin: 60px 0 0px;
  }

  #btnJoin {
    width: 100%;
    padding: 21px 0 17px;
    margin-top: -200px;
    border: 1;
    cursor: pointer;
    color: #fff;
    background-color: #40c7f4;
    font-size: 20px;
    font-weight: 400;
    font-family: Dotum, "돋움", Helvetica, sans-serif;
  }